@import '../../static/css/sassCore/_function.scss';

.myorder{
	
	width: 500px;
	height: 100%;
	min-height: 400px;
	overflow: hidden;
	.swiper-container{
		height: 100%;
		width: 100%;
	}
	.swiper-wrapper{
		height: auto;
	}
}
.myorder-list{
	height: auto;
	padding: 74px 0 0;
	
	ul{
		overflow: hidden;
		border-bottom: 1px solid #9B9B9B;
		border-bottom: 1px solid rgba(155,154,155,0.2);
	}
	
	li{

		position: relative;
		overflow: hidden;
		// border-bottom: 1px solid #9B9B9B;
		// border-bottom: 1px solid rgba(155,154,155,0.2);
		margin: 0 15px 0;
		.vertical-middle{
			position: absolute;
			top: 0;
			right: 0;
			height: 100%;
			a{
				display: inline-block;
				font-size: 14px;
				color: #fff;
				background: #CDDA9F;
				height: 40px;
				line-height: 40px;
				padding: 0 20px;
				margin: 0 0 0 10px;
				vertical-align: middle;
				@include border-radius(3px);
				// @include box-sizing(border-box);
			}
		}
	}
}
.myorder-list-header{
	line-height: 1.5;
	padding: 20px 60px 20px 0;
	border-bottom: 1px solid #9B9B9B;
	border-bottom: 1px solid rgba(155,154,155,0.2);
	cursor: pointer;
	strong{
		color: #4A4A4A;
		display: block;
		font-style: normal;
		font-size: 18px;
		font-weight: 400;
	}
	span{
		font-size: 14px;
		color: #CACACA;
		display: block;
	}

}
.myorder-list-item{
	padding: 20px 60px 20px 0;
	line-height: 1.7;
	strong{
		display: block;
		color: #4A4A4A;
		font-style: normal;
		font-size: 18px;
		font-weight: 400;
	}
	span{
		font-size: 14px;
		color: #9B9B9B;
	}
	p{
		display: inline-block;
		vertical-align: middle;
	}
}
.myorder-list-head{
	width: 50px;
	height: 50px;
	background: #F5F5F5;
	overflow: hidden;
	background-position: center;
	border: 1px solid #CACACA;
	float: left;
	@include border-radius(100%);
	@include background-clip(padding-box);
	@include background-size(contain);
}
.myorder-list-text{
	margin: 0 0 0 70px;
	overflow: hidden;
}

// .myorder-layer{
// 	position: absolute;
// 	left: 0;
// 	top: 0;
// 	right: 0;
// 	bottom: 0;
// 	width: 100%;
// 	height: 100%;
// 	z-index: -1;
// 	background-color: rgba(0,0,0,.5);
// }
// .transition-comment-enter {
//   	@include translate3D(0,100%,0);
//   	@include transition(transform,-webkit-transform 0.35s ease-in);
// }
// .transition-comment-enter.transition-comment-enter-active {
//   	@include translate3D(0,0,0);
// }
// .transition-comment-leave {
//   	@include translate3D(0,0,0);
//   	@include transition(transform,-webkit-transform  0.35s ease-in);
// }
// .transition-comment-leave.transition-comment-leave-active {
//   	@include translate3D(0,100%,0);
// }

.orderdetail{
	// width: 100%;
	// height: 100%;
	// padding: 32px 0 40px;
	margin:0 auto;
	background-color: #fff;
	@extend .myorder;
	overflow-y:scroll;
	.pay-header .pay-right{
		height: 20px;
		line-height: 20px;
		padding: 0 8px;
		color: #fff;
		font-size: 14px;
		@include border-radius(20px);
	}
}
.orderdetail-btns{
	text-align:center;
	a{
		display: inline-block;
		margin: 30px 5px 0;
		font-size: 14px;
		color: #fff;
		background: #C34765;
		padding: 5px 30px;
		@include border-radius(2px);
		&:hover{
			color: #fff;
		}
	}
}

.ordercomment{
	margin:0 auto;
	background-color: rgba(0,0,0,.6);
	@extend .myorder;
	position: relative;
	.comment{
		background: #fff;
		position: absolute;
		left: 0;
		bottom: 0;
		right: 0;
	}
}