@import '../../static/css/sassCore/_function.scss';

.cart{
	padding: 74px 0 0;
	
	.disable{
		opacity: 0.5;
		pointer-events:none;
	}
	
}
.cart-container{
	background-color: #F5F5F5;
	.main{
		display: table;
		overflow: hidden;
		padding: 50px 0;
		background-color: #F5F5F5;
	}
	
	// margin: 50px auto;
	
	h2{
		font-size: 26px;
		color: #4A4A4A;
		// padding: 0 0 10px 0;
	}
}
.cart-content{
	// width: 65%;
	// float: left;
	display: table-cell;
	width: 100%;
}
.cart-table{
	display: table-cell;
}
.cart-order{
	width: 400px;
	padding: 0 0 0 100px;
	// display: table-cell;
	// float: right;
}
// .cart-bar{
// 	position: fixed;
// 	top: 0;
// 	left: 0;
// 	width: 100%;
// 	height: 30px;
// 	line-height: 30px;
// 	text-align: center;
// 	font-size: 10px;
// 	color: #9B9B9B;
// 	z-index: 10;
// 	background-image: linear-gradient(-180deg, #FBFBFB 0%, #F5F5F5 100%);
// 	border-bottom: 1px solid #CACACA;
// }

.cart-list{
	padding: 5px 0;
	margin: 0 15px;
	li{
		position: relative;
		padding: 34px 0 34px 40px;
		border-bottom: 1px solid rgba(155,154,155,0.1);
		// margin: 30px 0;
		// @include translate3D(0,0,0);
		// &.remove{
		// 	@include translate3D(-100px,0,0);
		// }
		label{
			position: absolute;
			top: 0;
			left: 0;
			height: 100%;
		}
		
	}
	.cart-list-header{
		// padding: 15px 0;
		// margin: 0;
		border-bottom: none;
	}
}
.cart-list-header{
	// border-bottom:1px solid rgba(155,154,155,0.20);

	font-size: 18px;
	color: #9B9B9B;
	overflow: hidden;
	span{
		vertical-align: middle;
	}
	.checkbox{
		margin: 0 20px 0 0;
	}
}
.cart-list-tips{
	// float: right;
	font-size: 14px;
	color: #CACACA;
	margin: 0 0 0 20px;
	vertical-align: middle;
}

.cart-list-about{
	// display: block;
	position: relative;
	overflow: hidden;
	// padding: 0 0 0 100px;
	// height: 2.625rem;
	// overflow: hidden;
	.price{
		position: absolute;
		right: 0;
		bottom: 0;
		font-size: 18px;
		color: #4A4A4A;
	}
}
.cart-list-head{
	display: block;
	float: left;
	width: 75px;
	height: 100px;
	background: #F5F5F5;
	border: 1px solid #CACACA;
	overflow: hidden;
	background-repeat: no-repeat;
	background-position: center;
	// @include border-radius(100%);
	@include background-size(contain);
	// @include background-clip(padding-box);
}
.cart-list-info{
	margin: 0 0 0 100px;
	width: 100%;
	font-size: 14px;
	white-space: nowrap;
	color: #9B9B9B;
    // overflow: hidden;
    // text-overflow: ellipsis;
	a,p{
		display: block;
		font-size: 18px;
		color: #4A4A4A;
		margin: 0 0 2px 0;
		
		// position: relative;
		// padding: 0 50px 0 0;
		white-space: nowrap;
		text-overflow: ellipsis;
		overflow: hidden;
		vertical-align: middle;
		
	}
	// span{
	// 	color: #9B9B9B;
	// }
	// em{
	// 	color: #9B9B9B;
	// 	font-style: normal;
	// 	opacity: 0.6;
	// }

	.number{
		margin: 10px 0 0 0;
		height: 36px;
		line-height: 36px;
		span{
			line-height: 36px;
		}
		input{
			line-height: 36px;
		}
	}
}
.cart-list-edit{
	position: absolute;
	top: 0;
	right: 0;
	z-index: 10;
	color: #CACACA;
	font-size: 24px;
}


.cart-add{
	@extend .cart-list;
	.cart-add-header{
		padding: 30px 0;
		border-bottom: none;
	}
}
.cart-add-header{
	color: #CACACA;
	overflow:hidden;
	font-size: 14px;
	span{
		color: #9B9B9B;
		margin: 0 10px 0 0;
		font-size: 18px;

	}
	a{
		float: right;
		font-size:24px;
		color: #CACACA;
	}
}
.cart-add-about{
	@extend .cart-list-about;
}
.cart-add-head{
	@extend .cart-list-head;
}
.cart-add-info{
	@extend .cart-list-info;
}
.cart-add-edit{
	@extend .cart-list-edit;
}

.cartModify-list-head{
	@extend .cart-list-head;
}
.cartModify-list-info{
	@extend .cart-list-info;

}
.cartModify-list-edit{
	@extend .cart-list-edit;
	.number{
		display: inline-block;
		vertical-align: middle;
	}
}
.cartAdd-list-head{
	@extend .cartModify-list-head;
}
.cartAdd-list-info{
	@extend .cartModify-list-info;
}
.cartAdd-list-edit{
	@extend .cartModify-list-edit;
}

.order-submit{
    background: #C34765;
    font-size: 14px;
    color: #fff;
    display: block;
    text-align: center;
    height: 44px;
    line-height: 44px;
    border:none;
    outline: none;
    margin: 15px 0 0;
    width: 100%;
    @include border-radius(4px);
}
.transition-order-enter {
  	opacity: 1;
  	@include transition(opacity 0.4s ease-in);
}
.transition-order-enter.transition-order-enter-active {
  	opacity: 0.2;
}
.transition-order-leave {
  	opacity: 1;
  	@include transition(opacity 0.4s ease-in);
}
.transition-order-leave.transition-order-leave-active {
  	opacity: 0.2;
}