@import '../../../static/css/sassCore/_function.scss';
.login{
	width: 290px;
}
.login-header{
	text-align: center;
	padding: 10px 0 20px;
	border-bottom: 1px solid rgba(155,154,155,0.20);
	p{
		font-size: 0.75rem;
		color: #9B9B9B;
		margin: 10px 0;
		line-height: normal;
	}
	span{
		font-size: 0.625rem;
		color: #CACACA;
	}
}
.login-head{
	width: 3.75rem;
	height: 3.75rem;
	line-height: 4rem;
	text-align: center;
	overflow: hidden;
	background-color: #809FB5;
	font-size: 2rem;
	color: #fff;
	margin: 0 auto;
	@include border-radius(100%);

}

.login-box{
	width: 200px;
	margin: 0 auto 20px;
	li{
		position: relative;
		height: 47px;
		line-height: 47px;
		&:after{
			content: '';
			display: block;
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			height: 2px;
			opacity: 0.2;
			@include gradient-horizontal(#B3B3B3 0%,transparent 100%);
		}
	}
	label{
		float: left;
		font-size: 0.75rem;
		color: #CACACA;
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		z-index: 0;
	}
	input{
		float: left;
		display: block;
		width: 100%;
		border:none;
		outline: none;
		height: 100%;
		padding: 0 0 0 54px;
		font-size: 0.75rem;
		@include box-sizing(border-box);
	}
}
.login-footer{
	border-top: 1px solid rgba(155,154,155,0.20);
	text-align: center;
	padding: 0 0 20px;
	p{
		line-height: normal;
	}
	a{
		font-size: 0.625rem;
		color: #809FB5;
		text-decoration: underline;
		margin: 0 5px;
	}
}
.login-enter{
	border:none;
	outline: none;
	display: inline-block;
	background: #C34765;
	box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.10);
	height: 32px;
	line-height: 32px;
	border-radius: 32px;
	font-size: 0.75rem;
	color: #fff;
	padding: 0 20px;
	margin: 20px;
}
