@import '../../static/css/sassCore/_function.scss';
.address{
	
	width: 500px;
	// max-height: 100%;
	height: 100%;
	.swiper-container{
		height: 100%;
	}
}
.address-list{
	padding: 74px 0 0;
	height: auto;
	li{
		border-bottom: 1px solid rgba(155,154,155,0.2);
		&.active .address-username:after{
			content: '默认地址';
			background-color: #C34765;
		}
	}
}
.address-item{
	margin: 30px;
	overflow: hidden;
	position: relative;
	line-height: 1.6;
	cursor: pointer;
	a{
		position: absolute;
		right: 0;
		color: #CACACA;
		font-size: 24px;
		padding: 5px 10px;
	}
	.icon-close{
		top: 0;
	}
	.icon-edit{
		bottom: 0;
	}
	
}
.address-username{
	font-size: 18px;
	color: #4A4A4A;
	padding: 0 40px 15px 0;
	&:after{
		content: '设为默认';
		color: #fff;
		font-size: 10px;
		display: inline-block;
		vertical-align: middle;
		padding: 0 8px;
		height: 20px;
		line-height: 20px;
		overflow: hidden;
		background-color: #CACACA;
		margin: 0 0 0 10px;
		@include border-radius(20px);
	}
}
.address-phone{
	font-size: 14px;
	color: #9B9B9B;
	padding: 0 0 10px 0;
}
.address-location{
	font-size: 14px;
	color: #9B9B9B;
	padding: 0 1rem 0 0;
}
.address-add{
	font-size: 0.75rem;
	color: #fff;
	background: #C34765;
	padding: 5px 30px;
	line-height: normal;
	border:none;
	outline: none;
	display: inline-block;
	@include border-radius(2px);
}
.pop-location{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,.5);
	z-index: 11;
}

.transition-address-enter {
	@include translate3D(0,100%,0);
	@include transition(transform 400ms ease-in);
}
.transition-address-enter.transition-address-enter-active {
	@include translate3D(0,0,0);
}
.transition-address-leave {
	@include translate3D(0,0,0);
	@include transition(transform 400ms ease-in);
}
.transition-address-leave.transition-address-leave-active {
	@include translate3D(0,100%,0);
}	

