@import '../../static/css/sassCore/_function.scss';
.home-bar{
	line-height: 60px;
	position: relative;
	ul{
		overflow: hidden;
	}
	
	li{
		float: left;
	}
	a{
		padding: 0 5px;
		display: block;
		font-size: 12px;
		color: #CACACA;
		&.active{
			color: #FBAE1E;
		}
	}
	.home-search{
		position: absolute;
		top: 0;
		right: 0;
		height: 100%;
	}
	.icon-search{
		vertical-align: middle;
		margin: 0 5px;
	}
}

// .transition-homelist-enter {
//   	opacity: 0.01;
//   	@include transition(opacity .5s ease-in);
// }
// .transition-homelist-enter.transition-homelist-enter-active {
//   	opacity: 1;
// }	
// .transition-homelist-leave {
//   	opacity: 1;
//   	@include transition(opacity .5s ease-in);
// }
// .transition-homelist-leave.transition-homelist-leave-active {
//   	opacity: 0.01;
// }


.mobile-items{
	overflow: hidden;
	li{
		float: left;
		width: 50%;
	}
}
.mobile-item{
	margin: 0 5px 10px;
}
.mobile-img{
	height: 187px;
	background-color: #F5F5F5;
	border:1px solid #eee;
	position: relative;
	a{
		display: block;
		height: 100%;
		background-position: center;
		background-repeat: no-repeat;
		@include background-size(contain);
	}
}
.mobile-tag{
	display: block;
	position: absolute;
	top: 5px;
	right: 5px;
	height: 16px;
	line-height: 16px;
	padding: 0 5px;
	font-size: 8px;
	color: #fff;
	background: #CDDA9F;
	box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.10);
	@include border-radius(16px);
}
.mobile-about{
	font-size: 10px;
	padding:5px 20px 0 0;
	position: relative;
	line-height: 1.5;
	p{
		color: #9B9B9B;
		white-space: nowrap;
		overflow: hidden;
		text-overflow:ellipsis;
	}
	span{
		color: #4A4A4A;
	}
	a{
		color: #CACACA;
		font-size: 15px;
		position: absolute;
		top: 0;
		right: 0;
		height: 100%;
		i{
			vertical-align: middle;
		}
	}
}