@import '../../static/css/sassCore/_function.scss';
.home-bar{
	line-height: 60px;
	margin: 30px 0 10px;
	position: relative;
	ul{
		overflow: hidden;
	}

	li{
		display: inline-block;
	}
	a{
		padding: 0 5px;
		display: block;
		font-size: 18px;
		color: #CACACA;
		&.active{
			color: #C34765;
		}
	}
}

// .transition-homelist-enter {
//   	opacity: 0.01;
//   	@include transition(opacity .5s ease-in);
// }
// .transition-homelist-enter.transition-homelist-enter-active {
//   	opacity: 1;
// }
// .transition-homelist-leave {
//   	opacity: 1;
//   	@include transition(opacity .5s ease-in);
// }
// .transition-homelist-leave.transition-homelist-leave-active {
//   	opacity: 0.01;
// }


.mobile-items{
	overflow: hidden;
	li{
		float: left;
		width: 25%;
	}
}
.mobile-item{
	margin: 0 6px 10px;
}
.mobile-img{
	// height: 396px;
	padding-top: 100%;
	background-color: #F5F5F5;
	border:1px solid #eee;
	position: relative;
	overflow: hidden;
	@include border-radius(5px);
	a{
		position: absolute;
		left: 0;
		top: 0;
		right: 0;
		bottom: 0;
		display: block;
		width: 100%;
		height: 100%;
		background-position: center;
		background-repeat: no-repeat;
		@include background-size(cover);
	}
}
.mobile-tag{
	display: block;
	position: absolute;
	top: 5px;
	right: 5px;
	height: 16px;
	line-height: 16px;
	padding: 0 5px;
	font-size: 8px;
	color: #fff;
	background: #C34765;
	@include box-shadow(0px 5px 10px 0px rgba(0,0,0,0.1));
	@include border-radius(16px);
}
.mobile-about{
	font-size: 16px;
	padding:8px 24px 0 0;
	position: relative;
	line-height: 1.8;
	p{
		color: #9B9B9B;
		white-space: nowrap;
		overflow: hidden;
		text-overflow:ellipsis;
	}
	span{
		color: #4A4A4A;
		font-size: 14px;
	}
	a{
		color: #CACACA;
		font-size: 24px;
		position: absolute;
		top: 0;
		right: 0;
		height: 100%;
		i{
			vertical-align: middle;
		}
	}
}
