@import '../../../static/css/sassCore/_function.scss';
// 自定义swiper
#focusSwiper{
	.swiper-slide{
		a{
			display: block;
			width: 100%;
		}
		img{
			display: block;
			width: 100%;
			height: auto;
			min-height: 100px;
		}
	}
	.swiper-pagination{
		position:absolute;
		text-align:center;
		width: 100%;
		z-index:10;

	}
	.swiper-pagination-bullets{
		bottom:10px;left: 0;
		line-height: 0;
	}
	.swiper-pagination-bullet{
		width:6px;
		height:6px;
		display:inline-block;
		border-radius:100%;
		background:#cacaca;
		vertical-align: middle;
		margin:0 2px;
	}

	.swiper-pagination-bullet-active{
		background:transparent;
		width: 8px;height: 8px;
		border: 1px solid #C34765;
	}
}
