@import '../../../static/css/sassCore/_function.scss';
// 自定义swiper
#focusSwiper{
	width: 1220px;
	.swiper-slide{
		a{
			display: block;
			width: 100%;
		}
		img{
			display: block;
			width: 100%;
			height: auto;
			min-height: 100px;
		}
	}
	.swiper-pagination{
		position:absolute;
		bottom:10px;
		left: 0;
		width: 100%;
		z-index:10;
	}

	.swiper-pagination-bullet{
		width:10px;
		height:10px;
		display:inline-block;
		border-radius:100%;
		background:#cacaca;
		vertical-align: middle;
		margin:0 8px;
	}

	.swiper-pagination-bullet-active{
		background:transparent;
		border: 1px solid #809FB5;
	}
}
