@import '../../static/css/sassCore/_function.scss';
.cartJoin{
	text-align: center;
	padding: 26px 0;
	width: 290px;
	
	.pop-confirm{
		height: 36px;
		line-height: 36px;
		background: #FBAE1E;
		box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.10);
		font-size: 12px;
		color: #fff;
		padding: 0 15px;
		display: inline-block;
		@include border-radius(18px);
		i{
			font-size: 16px;
			margin: 0 10px 0 0;
		}
	}
	.pop-cancle{
		font-size: 12px;
		color: #CDDA9F;
		text-decoration: underline;
	}
}
.cartJoin-title{
	p{
		font-size: 12px;
		color: #CACACA;
		margin: 10px 0 15px;
	}
}
.cartJoin-enter{
	margin: 0 0 20px;
}
.cartJoin-head{
	width: 60px;
	height: 60px;
	margin: 0 auto;
	overflow: hidden;
	background: #F5F5F5;
	border: 1px solid #FBAE1E;
	background-repeat: no-repeat;
	background-position: center;
	@include background-size(cover);
	@include background-clip(padding-box);
	@include border-radius(100%);
}


.cartModify{
	@extend .cartJoin;
	ul{
		margin: 20px 10px;
		border-top: 1px solid rgba(155,154,155,0.20);
		border-bottom: 1px solid rgba(155,154,155,0.20);
	}
	li{
		white-space: nowrap;
		text-align: left;
		margin: 20px 0;
		position: relative;
	    padding: 0 82px 0 50px;
	}
}
.cartModify-title{
	@extend .cartJoin-title;
	font-size: 10px;
	color: #CACACA;
	p{
		color: #9B9B9B;
		margin: 10px 0;
	}
}
.cartModify-head{
	@extend .cartJoin-head;
	background-color: #CACACA;
	line-height: 60px;
	border: none;
	font-size: 16px;
	color: #fff;
}

.cartModify-enter{
	@extend .cartJoin-enter;
	i{
		font-size: 13px;
		vertical-align: middle;
	}
}


.cartAdd{
	@extend .cartModify;
}
.cartAdd-title{
	@extend .cartModify-title;
}
.cartAdd-head{
	@extend .cartModify-head;
	
	background-color: #F5F5F5;
	border: 1px solid #7B8E3D;
}
.cartAdd-enter{
	@extend .cartModify-enter;
	font-size: 16px;
}