@import '../../static/css/sassCore/_function.scss';

.transition-cartfix-enter {
  	opacity: 0.01;
  	@include translate3D(-100%,0,0);
  	@include transition(all 0.4s ease-in);
}
.transition-cartfix-enter.transition-cartfix-enter-active {
	@include translate3D(0,0,0);
  	opacity: 1;
}	
.transition-cartfix-leave {
  	opacity: 1;
  	@include translate3D(0,0,0);
  	@include transition(all 0.4s ease-in);
}
.transition-cartfix-leave.transition-cartfix-leave-active {
  	opacity: 0.01;
  	@include translate3D(-100%,0,0);
}
.fix-top{
	background-color: #FBFBFB;
	background-image: linear-gradient(-180deg, #FBFBFB 0%, #F5F5F5 100%);
	border-bottom: 1px solid #CACACA;
	font-size: 10px;
	color: #9B9B9B;
	height: 30px;
	line-height: 30px;
	text-align: center;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 10;
}

.cart-fixed{
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	z-index: 10;
}
.cart-bar{
	padding: 8px 15px;
	background: rgba(123,142,61,0.98);
	box-shadow: 0px -2px 10px 0px rgba(0,0,0,0.10), 0px 0px 0px 0px #7B8E3D;
	overflow: hidden;
	// position: relative;
	p{
		float: left;
		line-height: 23px;
		white-space: nowrap;
	}
	i{
		color: #fff;
		font-size: 16px;
		opacity: 0.8;
	}
	strong{
		opacity: 0.5;
		font-size: 12px;
		color: #fff;
		margin: 0 0 0 15px;
		font-style: normal;
	}
	
}
.cart-btns{
	a{
		float: right;
		display: inline-block;
		background: #FBAE1E;
		padding: 3px 30px;
		font-size: 12px;
		color: #fff;
		box-shadow: 0px -1px 5px 0px rgba(0,0,0,0.05);
		@include border-radius(2px);
	}
}
.cart-nav{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: rgb(123, 142, 61);
	font-size: 0;
	text-align: center;
	a{
		display: inline-block;
		width: 19%;
		vertical-align: middle;
		font-size: 16px;
		padding: 8px 0;
	}
}