.footer{
	overflow: hidden;
	background: #7B8E3D;
	line-height: 40px;
	padding: 0 15px;
}
.footer-left{
	float: left;
	a{
		opacity: 0.5;
		font-size: 10px;
		color: #FFFFFF;
	}
}
.footer-right{
	float: right;
	a{
		padding: 0 5px;
		font-size: 8px;
		color: #FFFFFF;
	}
}