@import '../../static/css/sassCore/_function.scss';

// .slide-container{
// 	overflow: hidden;
// 	width: 100%;
// }
// .slide-items{
// 	overflow: hidden;
// 	// @include clearfix(true);
// }
// .slide-item{
// 	float: left;
// }

.search{
	padding: 74px 0 0;
}

.search-content{
	padding: 30px 10px;
	min-height: 800px;
}

.search-nav{
	text-align: center;
	background-color: #F5F5F5;
	padding: 50px 0;
	h2{
		font-size: 26px;
		color: #4A4A4A;
	}
	p{
		font-size: 14px;
		color: #CACACA;
		margin: 30px 0 15px;
	}
	a{
		font-size: 16px;
		color: #CACACA;
		margin: 0 10px;
	}
}
