@import '../../../static/css/sassCore/_function.scss';
.loading{
	// position: fixed;
	// top: 0;
	// left: 0;
	// right: 0;
	// bottom: 0;
	width: 100%;
	height: 100%;

	background-position: center;
	background-repeat: no-repeat;
	background-color: #fff;
	@include background-size(200px);
}
.waiting{
	height: 300px;
	width: 100%;
	background-position: center;
	background-repeat: no-repeat;
	@include background-size(200px);
}
