.nav-mobile{
	width: 100%;
	position: fixed;
	left: 0;
	bottom: 0;
	z-index: 10;
	background: rgba(123,142,61,0.98);
	box-shadow: 0px -2px 10px 0px rgba(0,0,0,0.10), 0px 0px 0px 0px #7B8E3D;
	font-size: 0;
	text-align: center;
	padding: 6px 0;
	a{
		width: 20%;
		font-size: 8px;
		color: #fff;
		display: inline-block;
		line-height: 10px;
		opacity: 0.5;
		&.active{
			opacity: 1;
		}
	}
}


